body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
    transition: background-image 1s ease-in-out;

    background-size: cover;


    text-shadow: 1px 1px 2px black;
}

#overlay{
    z-index: -5;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("img/overlay.png") center no-repeat;
    background-size: cover;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.weather_{
    right: 5px;
    top: 10px;
    position: absolute;
    height: 10%;
    width: 25%;
    text-align: right;
}

#weather_info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#city{
    font-size: 25px;
}
#icon{
    right: 50px;
    font-size: 25px;
}

#time{
    font-size: 100px;
}
#date{
    margin-top: 0px;
    font-size: 25px;
}

#greetings{
    margin-top: 20px;
    margin-bottom: 20px;
}
#name{

}
#text {
    margin-bottom: 10px;
    opacity: 0.7;
}

#arrows {
    height: 10%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;


}
#rightArrow {
    position: absolute;
    right: 5px;
    height: 70px;
    width: 50px;
    background: url("../css/right_arrow.png") center no-repeat;
    background-size: cover;

    border: 0;
    transition: linear 0.1s;
}
#rightArrow:hover{

    cursor: pointer;
    transform: scale(1.2);
}

#quote {
    position: absolute;
    bottom: 20px;
}
#newQuote{
    position: absolute;

    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    background: url("../css/refresh.png") center no-repeat;
    background-size: contain;


    border: 0;

    transition: linear 0.4s;
}

#newQuote:hover{
    cursor: pointer;
    transform: rotate(180deg);
}